<div>
    <h2 data-translate="boncmd6App.commande.home.title">Commandes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="commandemy.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="boncmd6App.commande.home.createLabel">
                        Create new Commande
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceCommande"><span data-translate="boncmd6App.commande.referenceCommande">Reference Commande</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateCommande"><span data-translate="boncmd6App.commande.dateCommande">Date Commande</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="emailContactAdministratif"><span data-translate="boncmd6App.commande.emailContactAdministratif">Email Contact Administratif</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telContactAdministratif"><span data-translate="boncmd6App.commande.telContactAdministratif">Tel Contact Administratif</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="emailContactTechnique"><span data-translate="boncmd6App.commande.emailContactTechnique">Email Contact Technique</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="telContactTechnique"><span data-translate="boncmd6App.commande.telContactTechnique">Tel Contact Technique</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="produitReferenceProduit"><span data-translate="boncmd6App.commande.produit">Produit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="commande in vm.commandes track by commande.id">
                    <td><a ui-sref="commandemy-detail({id:commande.id})">{{commande.id}}</a></td>
                    <td>{{commande.referenceCommande}}</td>
                    <td>{{commande.dateCommande | date:'medium'}}</td>
                    <td>{{commande.emailContactAdministratif}}</td>
                    <td>{{commande.telContactAdministratif}}</td>
                    <td>{{commande.emailContactTechnique}}</td>
                    <td>{{commande.telContactTechnique}}</td>
                    <td>
                        <a ui-sref="produitmy-detail({id:commande.produitId})">{{commande.produitReferenceProduit}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="commandemy-detail({id:commande.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="commandemy.edit({id:commande.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="commandemy.delete({id:commande.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
