
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommandeLabel" data-translate="boncmd6App.commande.home.createOrEditLabel">Create or edit a Commande</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.commande.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.commande.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="boncmd6App.commande.referenceCommande" for="field_referenceCommande">Reference Commande</label>
            <input type="text" class="form-control" name="referenceCommande" id="field_referenceCommande"
                    ng-model="vm.commande.referenceCommande"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="boncmd6App.commande.dateCommande" for="field_dateCommande">Date Commande</label>
                <div class="input-group">
                    <input id="field_dateCommande" type="text" class="form-control" name="dateCommande" datetime-picker="{{dateformat}}" ng-model="vm.commande.dateCommande" is-open="vm.datePickerOpenStatus.dateCommande"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCommande')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="boncmd6App.commande.emailContactAdministratif" for="field_emailContactAdministratif">Email Contact Administratif</label>
            <input type="text" class="form-control" name="emailContactAdministratif" id="field_emailContactAdministratif"
                    ng-model="vm.commande.emailContactAdministratif"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="boncmd6App.commande.telContactAdministratif" for="field_telContactAdministratif">Tel Contact Administratif</label>
            <input type="text" class="form-control" name="telContactAdministratif" id="field_telContactAdministratif"
                    ng-model="vm.commande.telContactAdministratif"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="boncmd6App.commande.emailContactTechnique" for="field_emailContactTechnique">Email Contact Technique</label>
            <input type="text" class="form-control" name="emailContactTechnique" id="field_emailContactTechnique"
                    ng-model="vm.commande.emailContactTechnique"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="boncmd6App.commande.telContactTechnique" for="field_telContactTechnique">Tel Contact Technique</label>
            <input type="text" class="form-control" name="telContactTechnique" id="field_telContactTechnique"
                    ng-model="vm.commande.telContactTechnique"
                     />
        </div>

        <div class="form-group">
            <label data-translate="boncmd6App.commande.produit" for="field_produit">Produit</label>
            <select class="form-control" id="field_produit" name="produit" ng-model="vm.commande.produitId" ng-options="produit.id as produit.referenceProduit for produit in vm.produits"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
