<div>
    <h2 data-translate="boncmd6App.produit.home.title">Produits</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="produitmy.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="boncmd6App.produit.home.createLabel">
                        Create new Produit
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="referenceProduit"><span data-translate="boncmd6App.produit.referenceProduit">Reference Produit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="designation"><span data-translate="boncmd6App.produit.designation">Designation</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categorieReferenceCategorie"><span data-translate="boncmd6App.produit.categorie">Categorie</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produit in vm.produits track by produit.id">
                    <td><a ui-sref="produitmy-detail({id:produit.id})">{{produit.id}}</a></td>
                    <td>{{produit.referenceProduit}}</td>
                    <td>{{produit.designation}}</td>
                    <td>
                        <a ui-sref="categoriemy-detail({id:produit.categorieId})">{{produit.categorieReferenceCategorie}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="produitmy-detail({id:produit.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="produitmy.edit({id:produit.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="produitmy.delete({id:produit.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
